* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Luxurious Roman", cursive;
}

header {
  margin: 0;
  position: relative;
  background: url(../slike/background.jpeg);
  background-size: cover;
  height: 40rem;
}
header div {
  position: relative;
  text-align: left;
  left: 5%;
}
header div img {
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
}
header div h1 {
  margin-left: 3%;
  vertical-align: bottom;
  display: inline-block;
  color: white;
  font-size: 45px;
  font-weight: 900;
}
header nav {
  margin: 0;
  padding: 0;
  background-color: #0e1538;
  height: 6rem;
}
header nav ul {
  display: inline-block;
  margin-left: 30%;
  list-style-type: none;
}
header nav ul li {
  margin-left: 1.5rem;
  display: inline-block;
}
header nav ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
header nav ul li a:hover {
  color: #0e1538;
  background-color: #f2f2dd;
  cursor: pointer;
}
header nav ul li:last-child {
  position: absolute;
  text-align: right;
  right: 5%;
}
header nav ul li:last-child button {
  background-color: white;
  color: #7079f7;
  font-weight: 900;
  padding: 0.6rem 0.5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
header form {
  margin-top: 8%;
  display: inline-block;
  margin-left: 18%;
  width: 70%;
  height: fit-content;
  background-color: white;
  text-align: left;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
header form div {
  display: inline-block;
  padding-top: 15px;
  justify-content: center;
  text-align: center;
}
header form div label {
  vertical-align: top;
  margin-left: 2rem;
  padding: 10px;
  text-align: right;
  color: #0e1538;
  font-size: 1.2rem;
}
header form div input {
  margin-bottom: 10px;
  height: 80px;
  width: 250px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
header form button {
  margin-left: 4rem;
  text-align: center;
  font-size: 1.3rem;
  width: 5%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fb5b5b;
  color: white;
}

section {
  white-space: nowrap;
  width: 100%;
  margin-left: 4rem;
}
section h1 {
  color: #0e1538;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  font-size: 3.5rem;
  margin-bottom: 4rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
}
section div {
  display: inline-block;
  text-align: center;
  width: 31%;
  padding: 2%;
  height: fit-content;
  margin-bottom: 4%;
  box-shadow: 2px 2px 4px #0e1538;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
section div figure img {
  transition: transform 250ms ease-in-out 250ms;
  -webkit-transition: transform 250ms ease-in-out 250ms;
  -moz-transition: transform 250ms ease-in-out 250ms;
  -ms-transition: transform 250ms ease-in-out 250ms;
  -o-transition: transform 250ms ease-in-out 250ms;
  width: 300px;
  height: 450px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
section div figure img:hover {
  transform: rotate(0.5turn) scale(1.2);
  -webkit-transform: rotate(0.5turn) scale(1.2);
  -moz-transform: rotate(0.5turn) scale(1.2);
  -ms-transform: rotate(0.5turn) scale(1.2);
  -o-transform: rotate(0.5turn) scale(1.2);
}
section div figure figcaption {
  padding: 8%;
  margin-bottom: 3rem;
  text-align: center;
  color: #0e1538;
  font-weight: bold;
  font-size: 1.2rem;
  justify-content: center;
}

.footer {
  width: 100%;
  background: #0e1538;
  padding: 2rem 2rem;
}
.footer .map {
  width: 40%;
  height: 20%;
}
.footer .map iframe {
  margin-left: 10%;
  margin-top: 2rem;
  margin-right: 10%;
  vertical-align: top;
  text-align: left;
  width: 80%;
  margin-bottom: 3%;
}
.footer .data {
  margin-top: 5%;
  vertical-align: top;
  padding: 0.2rem 2rem;
  vertical-align: top;
  width: 25%;
  display: inline-block;
  text-align: left;
  justify-content: left;
}
.footer .data h2 {
  text-align: left;
  margin: 0;
  color: white;
}
.footer .data p {
  vertical-align: top;
  margin-bottom: 5%;
  font-size: 1.5rem;
  padding: 0 0.6rem;
  text-align: left;
  color: white;
}

/*# sourceMappingURL=style.css.map */
