@import "vars";
@import "mixins";

@include main;

header {
  margin: 0;
  position: relative;
  background: url(../slike/background.jpeg);
  background-size: cover;
  height: 40rem;
  div {
    position: relative;
    text-align: left;
    left: 5%;
    img {
      vertical-align: middle;
      width: 4rem;
      height: 4rem;
    }
    h1 {
      margin-left: 3%;
      vertical-align: bottom;
      display: inline-block;
      color: white;
      font-size: 45px;
      font-weight: 900;
    }
  }
  nav {
    margin: 0;
    padding: 0;
    background-color: $darkBlue;
    height: 6rem;
    ul {
      display: inline-block;
      margin-left: 30%;
      list-style-type: none;
      li {
        margin-left: 1.5rem;
        display: inline-block;
        a {
          font-size: 1.2rem;
          text-decoration: none;
          font-weight: bold;
          color: white;
        }
        a:hover {
          color: $darkBlue;
          background-color: $yellow;
          cursor: pointer;
        }
      }
      li:last-child {
        position: absolute;
        text-align: right;
        right: 5%;
        button {
          background-color: white;
          color: $blue;
          font-weight: 900;
          padding: 0.6rem 0.5rem;
          @include border-radius;
        }
      }
    }
  }
  form {
    margin-top: 8%;
    display: inline-block;
    margin-left: 18%;
    width: 70%;
    height: fit-content;
    background-color: white;
    text-align: left;
    @include border-radius;
    div {
      display: inline-block;
      padding-top: 15px;
      justify-content: center;
      text-align: center;
      label {
        vertical-align: top;
        margin-left: 2rem;
        padding: 10px;
        text-align: right;
        color: $darkBlue;
        font-size: 1.2rem;
      }
      input {
        margin-bottom: 10px;
        height: 80px;
        width: 250px;
        @include border-radius;
      }
    }
    button {
      margin-left: 4rem;
      text-align: center;
      font-size: 1.3rem;
      width: 5%;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: $red;
      color: white;
    }
  }
}

section {
  white-space: nowrap;
  width: 100%;
  margin-left: 4rem;
  h1 {
    color: $darkBlue;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 4rem;
    margin-left: 3rem;
    margin-top: 0.5rem;
  }
  div {
    display: inline-block;
    text-align: center;
    width: 31%;
    padding: 2%;
    height: fit-content;
    margin-bottom: 4%;
    box-shadow: 2px 2px 4px $darkBlue;
    @include border-radius;
    figure {
      img {
        transition: transform 250ms ease-in-out 250ms;
        -webkit-transition: transform 250ms ease-in-out 250ms;
        -moz-transition: transform 250ms ease-in-out 250ms;
        -ms-transition: transform 250ms ease-in-out 250ms;
        -o-transition: transform 250ms ease-in-out 250ms;
        width: 300px;
        height: 450px;
        @include border-radius;
        &:hover {
          transform: rotate(0.5turn) scale(1.2);
          -webkit-transform: rotate(0.5turn) scale(1.2);
          -moz-transform: rotate(0.5turn) scale(1.2);
          -ms-transform: rotate(0.5turn) scale(1.2);
          -o-transform: rotate(0.5turn) scale(1.2);
        }
      }
      figcaption {
        padding: 8%;
        margin-bottom: 3rem;
        text-align: center;
        color: $darkBlue;
        font-weight: bold;
        font-size: 1.2rem;
        justify-content: center;
      }
    }
  }
}

.footer {
  width: 100%;
  background: $darkBlue;
  padding: 2rem 2rem;
  .map {
    width: 40%;
    height: 20%;
    iframe {
      margin-left: 10%;
      margin-top: 2rem;
      margin-right: 10%;
      vertical-align: top;
      text-align: left;
      width: 80%;
      margin-bottom: 3%;
    }
  }
  .data {
    margin-top: 5%;
    vertical-align: top;
    padding: 0.2rem 2rem;
    vertical-align: top;
    width: 25%;
    display: inline-block;
    text-align: left;
    justify-content: left;

    h2 {
      text-align: left;
      margin: 0;
      color: white;
    }
    p {
      vertical-align: top;
      margin-bottom: 5%;
      font-size: 1.5rem;
      padding: 0 0.6rem;
      text-align: left;
      color: white;
    }
  }
}

